@page "/add-car"
@using Blazorise

<PageTitle>Add Car</PageTitle>

<h3>Add your car to the market</h3>


<Field>
    <FieldLabel>Car Name</FieldLabel>
    <TextEdit Placeholder="Ex. Audi" />
    <FieldLabel>Car Model</FieldLabel>
    <TextEdit Placeholder="Ex. A4" />
    <FieldLabel>Production Year</FieldLabel>
    <TextEdit Placeholder="Ex. 2018" />
    <FieldLabel>Image URL</FieldLabel>
    <TextEdit Placeholder="URl to image" />
    <FieldLabel>Price pr day</FieldLabel>
    <TextEdit Placeholder="Ex. 1500" />
    <FieldLabel>Seats</FieldLabel>
    <TextEdit Placeholder="Ex. 5" />
</Field>